.accordion-block__button {
  display: block;
  border: none;
  position: relative;
  // width: 22px;
  height: 28px;
  padding: 45px 38px 2px 38px;
  cursor: pointer;
}

.accordion-block__button::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 50px;
  top: 45px;

  @media (max-width: $tablet-width-only) {
    width: 23px;
    height: 12px;
  }
}

.accordion-block__button--show::after {
  transform: translateY(50%) rotate(180deg);
  background-image: url("../img/stack.svg#icon-link-more");
}

.accordion-block__button--hide::after {
  transform: none;
  background-image: url("../img/stack.svg#icon-link-more");
}

.accordion-block__content {
  display: none;
  padding: 0 38px 5px 38px;
}

.active {
  display: block;
}
