.accordion {
  border: 1px solid $basic-brown;
  margin-left: auto;
  margin-right: auto;
  // width: max-content;
}

.accordion__section.accordion__section--opened {
  padding-bottom: 35px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 15px;
  }
}

.accordion__section:not(:last-child) {
  border-bottom: 1px solid $basic-brown;
}

.accordion__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding-left: 10px;
    max-width: 210px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    font-size: 16px;
    line-height: 140%;
  }
}

.accordion__section.accordion__section--opened .accordion-block__button {
  padding-bottom: 0;
}

.accordion__text {
  max-width: 527px;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  padding-left: 10px;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;

    & br {
      display: none;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    font-size: 14px;
    line-height: 140%;
    margin-top: 10px;
    display: block;
    padding-top: 0;
  }
}

.accordion__text-space {
  padding-left: 10px;
}

.accordion__wrapper {
  display: flex;
  justify-content: space-between;
}
