.faq__accordion {
  max-width: 968px;
  margin: 47px auto 108px auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 30px;
    margin-bottom: 62px;
  }
}
