.filter {
  padding: 25px;
  padding-bottom: 22px;

  @media (max-width: $tablet-width-only) {
    padding-left: 40px;
    padding-top: 33px;
    padding-bottom: 33px;
    border-bottom: 1px solid $basic-brown;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 23px;
  }
}

.filter:not(:last-child) {
  border-bottom: 1px solid $basic-brown;
}


.filter__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic-dark;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    font-size: 18px;
  }
}

.filter__content {
  margin-top: 20px;
}

.filter__checkbox-wrapper {
  margin-left: 7px;
}

.filter__checkbox-wrapper label {
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $tablet-width-only) {
    font-size: 16px;
    padding-left: 30px;
  }
}

.filter__checkbox-wrapper input + label {
  position: relative;
}

.filter__checkbox-wrapper input {
  &:focus-visible + label {
    border: 3px solid $basic-brown;
  }
}

.filter__checkbox-wrapper input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid $basic-brown;

  @media (max-width: $tablet-width-only) {
    width: 17px;
    height: 17px;
  }

  &:focus-visible {
    outline: 3px solid $basic-brown;
  }
}

.filter__checkbox-wrapper input:checked + label::before {
  width: 15px;
  height: 15px;
  background-color: $basic-brown;

  @media (max-width: $tablet-width-only) {
    width: 18px;
    height: 18px;
  }
}

.filter__checkbox-wrapper:not(:last-child) {
  margin-bottom: 6px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 15px;
  }
}

.filter__button {
  position: relative;
  cursor: pointer;
  display: block;
  width: 100%;
  text-decoration: none;
  color: $basic-dark;
}

.filter__button::after {
  content: "";
  display: block;
  width: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  right: 0;
  top: 0;
  height: 16px;
  background-image: url("../img/stack.svg#icon-link-more");

  @media (max-width: $tablet-width-only) {
    width: 25px;
    height: 13px;
    right: 17px;
    top: 7px;
  }

  @media (max-width: $mobile-width-only) {
    right: -1px;
  }
}

.filter__button--hide::after {
  height: 16px;
  transform: translateY(50%) rotate(180deg);
  background-image: url("../img/stack.svg#icon-link-more");

  @media (max-width: $tablet-width-only) {
    top: -7px;
  }
}
