.footer {
  background-color: $basic-black;
  color: $basic-white;
  padding: 90px 0;
  justify-self: flex-end;
  flex-grow: 1;

  @media (max-width: $tablet-width-only) {
    padding: 50px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 40px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 500px 380px 115px;
  column-gap: 87px;

  @media (max-width: $desktop-maket-width) {
    grid-template-columns: 4fr 3fr 1.5fr;
    column-gap: 30px;
  }

  @media (max-width: $tablet-width-only) {
    display: block;
  }
}

.footer__links {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 380px 115px;
  column-gap: 87px;

  @media (max-width: $desktop-maket-width) {
    column-gap: 30px;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 35px;
    column-gap: 80px;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;

  & a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $basic-white;
    text-decoration: none;
  }

  & a:hover {
    opacity: 0.5;
  }
}
