// .nav {
//   @media (max-width: $tablet-width-only) {
//     background-color: $basic-brown;
//   }
// }

.nav__wrapper {
  padding-top: 20px;
  padding-bottom: 17px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
  }

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
    padding-top: 0;
  }
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
    margin-top: 45px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 35px;
  }
}

.nav__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $basic-dark;

  &:not(:last-child) {
    margin-right: 36px;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $tablet-width-only) {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $basic-white;
  }
}

.nav__info {
  @media (max-width: $tablet-width-only) {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  & .nav__item:not(:last-child) {
    @media (max-width: $tablet-width-only) {
      margin-bottom: 9px;
    }
  }
}

.nav__search input,
.nav__search input::placeholder {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $basic-light;
  border: none;

  @media (max-width: $tablet-width-only) {
    color: $basic-white;
  }
}

.nav__search input::placeholder {
  @media (max-width: $tablet-width-only) {
    color: transparent;
  }
}

.nav__search input {
  @media (max-width: $tablet-width-only) {
    background-color: $light-brown-color;
    width: 100%;
    border-radius: 21px;
    padding: 10px;
    box-sizing: border-box;
  }

  @media (max-width: $tablet-width-only) {
    color: $basic-white;
    padding-left: 35px;
  }
}

.nav__search {
  padding-left: 29px;
  display: block;

  @media (max-width: $tablet-width-only) {
    padding-left: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: $basic-black;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("../img/stack.svg#icon-search");

    @media (max-width: $tablet-width-only) {
      background-color: $basic-white;
      width: 16px;
      height: 16px;
      top: 10px;
      left: 12px;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .nav--closed .nav__wrapper {
    display: none;
  }

  .header__nav.nav--opened {
    margin-top: -2px;
    overflow-y: auto;
    max-height: calc(100vh - 20px);
  }

  // .main-nav--nojs .main-nav__toggle {
  //   display: none;
  // }

  .nav--nojs .nav__wrapper {
    display: flex;
    position: relative;
    height: max-content;
  }
}
