.page {
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.page__body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: $basic-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page__container {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 93vw;
  }

  @media (min-width: ($desktop-maket-width)) {
    width: $desktop-content-width;
  }

  &--relative {
    position: relative;
  }

  &--desktop-on {
    @media (max-width: $tablet-width-only) {
      // position: static;
      display: contents;
      // width: 100%;
    }
  }

  &--desktop-off {
    @media (min-width: $desktop-width) {
      display: contents;
    }
  }
}

.page__title {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 0.03em;

  &--blog {
    margin-bottom: 17px;
  }

  &--insta {
    margin-bottom: 35px;
  }

  @media (max-width: $tablet-width-only) {
    margin: 0 0 17px;
  }
}

.page__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $basic-dark;
  cursor: pointer;
  margin: 0;
  margin-bottom: 60px;


  @media (max-width: $mobile-width-only) {
    margin-bottom: 45px;
  }

  & a {
    border-bottom: 1px solid $basic-brown;
    // text-decoration: underline;
    // text-decoration-color: $basic-brown;

    @media (max-width: $mobile-width-only) {
      padding-bottom: 5px;
    }
  }

  & a:hover {
    opacity: 0.5;
  }

  &--blog {
    margin-bottom: 65px;

    @media (max-width: $mobile-width-only) {
      margin-bottom: 52px;
    }
  }
}

.page__link {
  text-decoration: none;
  color: $basic-dark;
}

.page__main--catalog {
  overflow: hidden;
}
