.preview-block {
  font-family: "Cormorant Garamond", "Georgia", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 180px 30px 184px 30px;
  background-color: $light-bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/main/catalog-preview@1x.jpg");
  color: $basic-white;
  margin-bottom: 120px;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 195px;
    margin-bottom: 62px;
    background-image: url("../img/main/catalog-preview-mobile@1x.jpg");
  }

  &--catalog {
    padding: 94px 30px 95px 30px;
    background-image: url("../img/catalog/catalog-bg.jpg");
    margin-bottom: 80px;

    @media (max-width: $tablet-width-only) {
      margin-bottom: 50px;
    }

    @media (max-width: $mobile-width-only) {
      padding: 80px 20px 84px 20px;
      margin-bottom: 40px;
    }
  }
}

.preview-block__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  margin: 0;
  text-align: center;
  // margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width-only) {
    margin-left: -15px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 38px;
    line-height: 100%;
    margin-left: 0;
  }


  &--catalog {
    font-size: 34px;
    line-height: 130%;

    @media (max-width: $tablet-width-only) {
      margin-left: 10px;
    }

    @media (max-width: $mobile-width-only) {
      margin-left: 0;
    }
  }
}

.preview-block__subtitle {
  font-style: italic;
  font-weight: normal;
  font-size: 38px;
  line-height: 110%;
  margin: 0;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    margin-left: -15px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 34px;
    line-height: 130%;
    margin-left: 0;
  }

  &--catalog {
    font-size: 22px;
    line-height: 120%;

    @media (max-width: $tablet-width-only) {
      margin-left: 0;
    }
  }
}
