.range {
  position: relative;
  width: 100%;
  // margin-top: 25px;
  margin-bottom: 27px;

  @media (max-width: $tablet-width-only) {
    margin-top: 16px;
    margin-bottom: 35px;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 15px;
  }
}

.range__scale {
  width: 100%;
  height: 1px;
  background-color: $light-bg-color;

  @media (max-width: $tablet-width-only) {
    width: 304px;
  }

  @media (max-width: $mobile-width-only) {
    width: 250px;
  }
}

.range__bar {
  position: relative;
  left: 50px;
  width: 100px;
  height: 1px;
  background-color: $basic-brown;

  @media (max-width: $tablet-width-only) {
    width: 180px;
  }

  @media (max-width: $mobile-width-only) {
    width: 120px;
  }
}

.range__toggle {
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: $basic-brown;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-only) {
    width: 18px;
    height: 18px;
  }

  &:hover {
    opacity: 0.5;
  }

  & input {
    display: block;
    width: min-content;
    max-width: 40px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $basic-dark;
    margin-top: 23px;
    margin-left: -10px;

    @media (max-width: $tablet-width-only) {
      font-size: 16px;
    }
  }
}

.range__toggle--min {
  left: 45px;

  @media (max-width: $tablet-width-only) {
    left: 50px;
  }

  @media (max-width: $mobile-width-only) {
    left: 25px;
  }
}

.range__toggle--max {
  right: 35px;

  @media (max-width: $tablet-width-only) {
    right: 155px;
  }

  @media (max-width: $mobile-width-only) {
    right: 65px;
  }
}
