.social {
  padding-top: 10px;

  @media (max-width: $mobile-width-only) {
    display: flex;
  }
}

.social__item:not(:last-child) {
  margin-bottom: 17px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 21px;
  }
}

.social__link {
  padding-left: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    background-color: $basic-white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }

  @media (max-width: $desktop-maket-width) {
    display: flex;
    width: max-content;
  }
}

.social__link-text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.social__link--fb::before {
  width: 8px;
  mask-image: url("../img/stack.svg#icon-fb");
}

.social__link--insta::before {
  mask-image: url("../img/stack.svg#icon-insta");
}

.social__link--pinterest::before {
  mask-image: url("../img/stack.svg#icon-pinterest");
}

.social__link--tw::before {
  mask-image: url("../img/stack.svg#icon-tw");
}
