.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 347px;

  @media (max-width: $tablet-width-only) {
    & img {
      width: 324px;
      height: 340px;
    }
  }

  @media (max-width: 767px) {
    & img {
      width: 130px;
      height: 136px;
    }
  }
}

.swiper-slide__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic-dark;
  margin: 15px 0 5px 0;

  @media (max-width: $tablet-width-only) {
    margin-top: 10px;
  }

  @media (max-width: $mobile-width-only) {
    text-align: center;
    margin-bottom: 8px;
  }
}

.swiper-slide__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: $basic-dark;
  margin: 0;
}

.swiper-pagination {
  margin-top: 50px;

  @media (max-width: $tablet-width-only) {
    margin-top: 45px;
  }

  @media (max-width: $mobile-width-only) {
    color: $basic-dark;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-top: 30px;
  }
}

.swiper-pagination-bullet {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic-light;
  background-color: transparent;
  cursor: pointer;
  padding: 0 7px;
}

.swiper-pagination-bullet-active {
  color: $basic-dark;
}

.swiper-pagination-current {
  @media (max-width: $mobile-width-only) {
    margin-right: 6px;
  }
}

.swiper-pagination-total {
  @media (max-width: $mobile-width-only) {
    margin-left: 6px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 45px;
  width: 30px;
  height: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 9px;
    top: 0;
    right: 0;
    background-color: $basic-brown;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    mask-image: url("../img/stack.svg#icon-arrow");
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;

  &::before {
    transform: rotate(180deg);
  }
}
