@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/poppins-400.woff2") format("woff2"),
    url("../fonts/poppins-400.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/poppins-500.woff2") format("woff2"),
    url("../fonts/poppins-500.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src:
    url("../fonts/poppins-700.woff2") format("woff2"),
    url("../fonts/poppins-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:
    url("../fonts/cormorant-garamond-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-700.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:
    url("../fonts/cormorant-garamond-600.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-600.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Cormorant Garamond";
  src:
    url("../fonts/cormorant-garamond-italic-400.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-italic-400.woff") format("woff");
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}
